<style type="text/css">
  hr {
    border: 0;
    border-top: 5px dashed green;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>
<body style="font-family: Lato, sans-serif; text-align: center;">
<p>Your process was submitted successfully<p>
<hr />
<p>More actions:</p>
<b>
<p><a href="/">Run another process</a></p>
<p><a href="https://drive.google.com/drive/folders/10_Cuknzzs9YKmK5rJlHEBS3f0ba5k80Z?usp=sharing" target="_blank">View any reports</a></p>
</b>
<hr />
<p>Data Submitted:</p>
{% for key,value in form_data.items() %}
<p><b>{{key}}:</b> {{value}}</p>
{% endfor %}
</body>
