<! doctype html>
<html>
<head>
  <title>Home - TLC Nest Admin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
<div class="form">
<div id="process-selector" style="font-size: 24; padding-top: 20px; padding-bottom: 20px;">
  <h1>Select a process to complete:</h1>
  <select name="selected_process" id="selected_process">
    <option value="" selected>-- select an option --</option>
    {% for process in processes %}
      <option value="{{process}}">{{process}}</option>
    {% endfor %}
  </select>
</div>
<hr>
<!-- Semester Report Form -->
<div id="SemesterReport" class="ProcessOptions">
<h2>Run a Semester Report</h2>
<form action="/data" method = "POST">
    <p>Semester Code:<br /><input type="text" name="SemesterCode" placeholder="202210" required /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</div>

<!-- Grades Report Form -->
<div id="GradesReport" class="ProcessOptions">
<h2>Run a Grades Report</h2>
<form action="/grades_report" method = "POST">
    <p>Enter Course Org Unit Id:<br /><input type="text" name="OrgUnitId" placeholder="10476" required/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</div>

<!-- Bulk Enroll Department Staff Form -->
<div id="BulkEnrollDepartmentStaff" class="ProcessOptions">
<h2>Enroll a user as department staff for all courses in a department and semester</h2>
<small>This process will exclude any courses the user is already enrolled in, as well as any empty shells without a faculty of record</small>
<form action="/bulk_enroll" method = "POST">
    <p>Enter Department Code: <br /><input type="text" name="Department" placeholder='FASD' required/></p>
    <p>Enter Semester Code:<br /><input type="text" name="Semester" placeholder='202210' required/></p>
    <p>Enter User Id:<br /><input type="text" name="UserId" placeholder='X12345678' required/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</div>

<!-- Rubrics Report Form -->
<div id="RubricsReport" class="ProcessOptions">
<h2>Run a report on all the rubrics for a student in a course</h2>
<form action="/rubrics" method = "POST">
    <p>Enter Course Org Unit Id<br /><input type="text" name="OrgUnitId" placeholder='10476' required/></p>
    <p>Enter User Id:<br /> <input type="text" name="UserId" placeholder='X12345678' required/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</div>

<!-- First Day Information Form -->
<div id="PushFirstDayInfo" class="ProcessOptions">
<h2>Push the default First Day Information and Syllabus units into every course in a semester</h2>
<form action="/firstday" method = "POST">
    <p>Enter Semester Code<br /><input type="text" name="SemesterCode" placeholder='202210' required/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</div>
</div>

<!-- Wait message to show after submitting a form -->
<div id="waitmsg" hidden>
<p style="color: red;">Please wait, your process is running...</p>
</div>
<!-- JavaScript to show/hide forms -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type = "text/javascript">
  $('.ProcessOptions').hide();
  $('#selected_process').on('change', function() {
    $('.ProcessOptions').hide();
    let selected = $( "#selected_process option:selected" ).text();
    let selected_id = '#' + selected.replace(/\s+/g, "")
    console.log(selected_id)
    $(selected_id).show();
  });
  $('form').submit(function() {
    $(':submit').attr('disabled', true);
    $('#waitmsg').show();
  });
</script>
</body>
</html>
